body {
  margin: 0;
}
header {
display: flex;
align-items: center;
position: fixed;
z-index: 1;
width: 100%;
height: 80px;
font-family: Verdana;
font-size: 14px;
font-weight: bold;
border-bottom: solid black 1px;
background-color: white;
}

header nav {
  padding-right: 40px;
}

nav span {
    display: inline-block;
    padding: 20px 10px;
}

a {
  color: black;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
    width: 70px;
    height: 60px;
    margin-right: 12px;
}

#toplogo {
  color: MediumAquamarine;
}

#NEwBites {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.maincontainer {
  display: flex;
  padding-top: 120px;
  padding-left: 130px;
  width: 1300px;
  justify-content: space-between;
}

.large {
  width: 630px;
  display: flex;
  flex-direction: column;
}

.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.small {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.imagesentence {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png');
  width: 629px;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.firststoryfooter {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png');
  width: 300px;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.secondstoryfooter {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png');
  width: 300px;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.twostorys {
  display: flex;
}

.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.catimg {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png');
  width: 299px;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.bite {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  display: block;
  padding: 11px 20px;
  border-bottom: 1px solid black;
}

.biteslist {
  display: flex;
  flex-direction: column;
}

ul {
  width: 240px;
}
